node_modules
.serverless
.esbuild
.DS_Store
.env
dist

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.DS_Store

!**/SharpLayer/**/node_modules
server/lib
